{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/modifUser.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <title>modifUser</title>
</head>
<body>
<div class="backward">
    <a href="{% url 'index' %}">
        <div class="home-register fa fa-home"></div>
    </a>
</div>
<div class="title">
    <h2>Information Page</h2>
</div>

<form action="{% url 'traitementModifUser' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form">
        <div class="img-container flex">
            <div class="profil-container">
                <img class="img" src="{{ photo }}" alt="photo de profil">
                <span class="profil-span opacity-null">Change</span>
            </div>
        </div>
        <div class="change-photo">
            <label for="photo">photo</label>
            <input class="profil" type="file" name="photo">
        </div>
            <div class="field flex column">
            <span class="name">
                Prenom
            </span>
                <input class="firstName" name="prenom" type="text" value="{{ user.prenom }}">
            </div>
            <div class="field flex column">
            <span class="name">
                Nom
            </span>
                <input class="lastName" type="text" name="nom" value="{{ user.nom }}">
            </div>
            <button class="btn" type="submit">Modifier</button>
    </div>
</form>
<script src="{% static 'JS/modifUser.js' %}"></script>
</body>
</html>