{% extends 'source/base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/register-login.css' %}"/>
    <script src="https://unpkg.com/htmx.org@1.8.4"></script>
{% endblock %}

{% block main %}
<div class="backward">
    <a href="{% url 'index' %}">
        <div class="home-register fa fa-home"></div>
    </a>
</div>
<div class="body flex vertical-center justify-center">
    <div class="container form">
        <div class="title-setting">SignUp Form</div>
        <div class="progress-bar flex">
            <div class="step">
                <p class="name-step">
                    Info
                </p>
                <div class="circle-container">
                    <div class="circle">
                        <span class="number">
                            1
                        </span>
                    </div>
                    <div class="check fas fa-check"></div>

                </div>
            </div>
            <div class="step">
                <p class="name-step">
                    Perso
                </p>
                <div class="circle-container">
                    <div class="circle">
                        <span class="number">
                            2
                        </span>
                    </div>
                    <div class="check fas fa-check"></div>
                </div>
            </div>
            <div class="step">
                <p class="name-step">
                    Confirm
                </p>
                <div class="circle-container">
                    <div class="circle">
                    <span class="number">
                        3
                    </span>
                    </div>
                    <div class="check fas fa-check"></div>
                </div>
            </div>
            <div class="step">
                <p class="name-step">
                    Form
                </p>
                <div class="circle-container">
                    <div class="circle">
                    <span class="number">
                        4
                    </span>
                    </div>
                    <div class="check fas fa-check"></div>
                </div>
            </div>
        </div>
        <div class="form-outer">
            <form action="#" method="POST" class="post-form ">
                {% csrf_token %}
                <div class="page slide-page">
                    <div class="title">
                        Basic Info:
                    </div>
                    <div class="field">
                        <div class="label">
                            First Name
                        </div>
                        <input type="text" name="prenom" class="input firstName">
                        <div class="failInfo none">*Ce champs ne peut être vide</div>
                    </div>
                    <div class="field">
                        <div class="label">
                            Last Name
                        </div>
                        <input type="text" name="nom" class="input lastName">
                        <div class="failInfo none">*Ce champs ne peut être vide</div>
                    </div>
                    <div class="field">
                        <div class="label">
                            Pseudo
                        </div>
                        <input type="text" name="pseudo" class="input pseudo">
                        <div class="failInfo none">*Ce champs ne peut être vide</div>
                    </div>
                    <div class="field">
                        <div class="label">
                            Birth Date
                        </div>
                        <input type="date" name="birthDate" class="input birthDate">
                        <div class="failInfo none">*Ce champs ne peut être vide</div>
                    </div>
                    <div class="field">
                        <div class="next-1 btn"><p>Next</p></div>
                    </div>
                    <a href="{% url 'login' %}"><span class="new-account">je possède déjà un compte</span></a>
                </div>
                <div class="page slide-page">
                    <div class="title">
                        Personal
                    </div>
                    <div class="field">
                        <div class="label">
                            Mail
                        </div>
                        <input type="mail" name="mail" class="input mail">
                        <div class="failInfo none">*Ce champs ne peut être vide</div>
                    </div>
                    <div class="field">
                        <div class="label">
                            Pwd
                        </div>
                        <input type="password" name="password" class="input pwd1">
                        <div class="failInfo">*Le mot de passe doit contenir entre 8 et 15 caractères</div>
                    </div>
                    <div class="field">
                        <div class="label">
                            Confirm Pwd
                        </div>
                        <input class="input pwd2" type="password">
                        <div class="failInfo none">*Veuillez entrer le meme mot de passe</div>
                    </div>
                    <div class="button-field flex">
                        <div class="split-button prev prev-2 btn"><p>Previous</p></div>
                        <div  class="split-button prev next-2 btn"
                        ><p>Next</p></div>
                    </div>
                </div>
                <div class="page slide-page">
                     <div class="title">
                            Confirmation
                        </div>
                        <div class="field">
                            <div class="label">
                             Enter code
                            </div>
                            <input type="text">
                        </div>
                    <div class="button-field flex">
                        <div class="split-button prev-3 prev btn"><p>Previous</p></div>
                        <div  class="split-button next-3 next btn"><p>Next</p></div>
                    </div>
                </div>
                 <div class="page slide-page">
                       <div class="title">
                        Choose
                    </div>
                    <div class="question-container flex">
                        <div class="flex horizontal">
                            <div class="item left">
                                <div class="valid none">
                                    <div class="check fas fa-check validate"></div>
                                </div>
                                <div class="img">
                                    <img class="food-img" src="{% static '/Image/fastFood.jpeg'%}" alt="FastFood">
                                </div>
                                <div class="name-img">
                                    FastFood
                                </div>
                            </div>
                            <div class="item">
                                <div class="valid none">
                                    <div class="check fas fa-check validate"></div>
                                </div>
                                <div class="img">
                                    <img class="food-img " src="{% static '/Image/indian.jpeg'%}" alt="Indain">
                                </div>
                                <div class="name-img">
                                    Indian
                                </div>
                            </div>
                            <div class="item right">
                                <div class="valid none">
                                    <div class="check fas fa-check validate"></div>
                                </div>
                                <div class="img">
                                    <img class="food-img " src="{% static '/Image/italian.jpeg'%}" alt="Italian">
                                </div>
                                <div class="name-img">
                                    Italian
                                </div>
                            </div>
                        </div>
                        <div class="flex horizontal">
                            <div class="item left">
                                <div class="valid none">
                                    <div class="check fas fa-check validate"></div>
                                </div>
                                <div class="img">
                                    <img class="food-img " src="{% static '/Image/fastFood.jpeg' %}" alt="indian">
                                </div>
                                <div class="name-img">
                                    Indian
                                </div>
                            </div>
                            <div class="item">
                                <div class="valid none">
                                    <div class="check fas fa-check validate"></div>
                                </div>
                                <div class="img">
                                    <img class="food-img " src="{% static '/Image/fastFood.jpeg'%}" alt="indian">
                                </div>
                                <div class="name-img">
                                    Indian
                                </div>
                            </div>
                            <div class="item right">
                                <div class="valid none">
                                    <div class="check fas fa-check validate"></div>
                                </div>
                                <div class="img">
                                    <img class="food-img " src="{% static '/Image/fastFood.jpeg'%}" alt="indian">
                                </div>
                                <div class="name-img">
                                    Indian
                                </div>
                            </div>
                        </div>
                        <div class="flex horizontal">
                            <div class="item left">
                                <div class="valid none">
                                    <div class="check fas fa-check validate"></div>
                                </div>
                                <div class="img">
                                    <img class="food-img " src="{% static '/Image/fastFood.jpeg'%}" alt="indian">
                                </div>
                                <div class="name-img">
                                    Indian
                                </div>
                            </div>
                            <div class="item">
                                <div class="valid none">
                                    <div class="check fas fa-check validate"></div>
                                </div>
                                <div class="img">
                                    <img class="food-img " src="{% static '/Image/fastFood.jpeg'%}" alt="indian">
                                </div>
                                <div class="name-img">
                                    Indian
                                </div>
                            </div>
                            <div class="item right">
                                <div class="valid none">
                                    <div class="check fas fa-check validate"></div>
                                </div>
                                <div class="img">
                                    <img class="food-img" src="{% static '/Image/fastFood.jpeg'%}" alt="indian">
                                </div>
                                <div class="name-img">
                                    Indian
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="button-field flex">
                            <div class="split-button prev-4 prev btn"><p>Previous</p></div>
                            <button type="submit" class="split-button next-4 next save btn" value="type">Submit
                            </button>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'JS/register.js' %}"></script>
{% endblock %}