html {
    --color: #297373;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #fffefe;
}
/*
Debut de la home
 */
.backward {
    position: absolute;
    height: 50px;
    top: 1.5%;
    left: 2%;
    width: 50px;
    border-radius: 50%;
    background-color: var(--color);
}

.backward .home-register{
    color: white;
    left: 10%;
    position: relative;
    font-size: 35px;
    top: 12%;
}
.backward .home-login{
    color: white;
    left: 8%;
    position: relative;
    font-size: 44px;
    top: 3%;
}
/*
fin de la home
 */

/*
Début de la progress bar
 */
.body {
    min-height: 100vh;
    text-align: center;
}
.container {
    padding: 15px 0 15px 0;
    width: 330px;
}
.title-setting {
    font-size: 35px;
    font-weight: 600;
    margin: 30px 0 0 0;
    padding: 0 0 20px 0;
}
.progress-bar {
    padding: 0 0 40px 0;
    width: 100%;
}
.step{
    text-align: center;
    justify-content: center;
    width: 25%;
}
.progress-bar .step .check {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 15px;
    transform: translate(-50%, -50%);
    display: none;
}
.progress-bar .step .check.active {
    display: block;
    color: #fff;
}
.name-step {
    font-weight: 500;
    font-size: 18px;
}
.progress-bar .step .name-step.active {
    color: var(--color);
    transition: 0.2s linear;
}
.circle-container {
    position: relative;
    height: 40px;
}

.circle {
    border-radius: 50%;
    position: absolute;
    border: solid black 2px;
    display: inline-block;
    left: 50%;
    top: 50%;
    transition: 0.2s;
    transform: translate(-50%, -50%);
    height: 25px;
    width: 25px;
}
.progress-bar .step .circle.active span {
    display: none;
}
.progress-bar .step .circle.active:after {
    background: var(--color);
    transform: scaleX(1);
    transform-origin: left;
    animation: animate 0.3s linear forwards;
}
.progress-bar .step .circle:before,
.progress-bar .step .circle:after {
    position: absolute;
    top: 50%;
    content: '';
    left: 30px;
    height: 3px;
    width: 47px;
    background: #262626;
}
.circle.active {
    border-color: var(--color);
    background: var(--color);
}
.progress-bar .step:last-child .circle:before,
.progress-bar .step:last-child .circle:after {
    display: none;
}
.number {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/*
Fin de la progress bar
 */


/*
Début du main container
 */
.form-outer {
    width: 100%;
    overflow: hidden;
}
.form-outer form .page {
    width: 25%;
    transition: margin-left 0.3s ease-in-out;
}

.form-outer form {
    display: flex;
    width: 400%;
}
.field {
    width: 330px;
    height: 45px;
    margin: 45px 0;
    display: flex;
    position: relative;
    flex-direction: column;
}
.label {
    position: absolute;
    top: -30px;
    font-weight: 500;
}
.failInfo{
    font-size: 0.8em;
    top: 100%;
    border-radius: 5px;
    position: absolute;
    height: 16px;
    width: 100%;
    text-align: start;
}
.question-container {
    flex-direction: column;
}

.item {
    position: relative;
}
.valid {
    z-index: 2;
    background-color: var(--color);
    position: absolute;
    width: 25px;
    top: -10%;
    left: 38%;
    height: 25px;
    border-radius: 50%;
}

.validate {
    position: absolute;
    color: white;
    z-index: 3;
    top: 18.25%;
    left: 18.25%;
}
.img {
    width: 100px;
    z-index: 1;
    overflow: hidden;
    position: relative;
}
img {
    width: 100%;
}
.name-img {
    padding: 0px 0 20px 0;
}

.horizontal {
    flex-direction: row;
}
.title {
    text-align: left;
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: 500;
}
input {
    height: 100%;
    width: 94%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 18px;
}
.next-1 {
    width: 100%;
    height: calc(100% + 5px);
    border: none;
    background: var(--color);
    margin-top: -20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
}
.food-img:hover {
    transition: transform .1s;
    transform: scale(1.1);
    overflow: hidden;
}
.button-field {
    width: 330px;
    height: 45px;
    margin: 45px 0;
    display: flex;
    position: relative;
}
.split-button {
    width: 100%;
    height: calc(100% + 5px);
    border: none;
    background: var(--color);
    margin-top: -20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
}
.prev {
    margin-right: 3px;
}

.next {
    margin-left: 3px;
}

.flex {
    display: flex;
}

.vertical-center {
    vertical-align: center;
}

.justify-center {
    justify-content: center;
}
.right {
    margin-left: 15px;
}

.left {
    margin-right: 15px;
}


.none {
    display: none;
}



@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}