{% for element in restaurants %}
    <a class="decoration-none hover" href="{% url 'vueRestaurant' element.pk %}">
        <div class="cards ">
            <div class="image-container-search-results">
                <img class="image-search-results" src="{{ element.image_front.url }}" alt="image Restaurant">
            </div>
            <div class="info-container">
                <div class="flex">
                    <span class="field">{{ element.nom }},</span>
                    <span>{{ element.note }}</span>
                    <span>
                        <box-icon type='solid' color="#ffb503" ; name='star'></box-icon>
                    </span>
                </div>
                <span class="field">{{ element.adresse }} {{ element.zip_code }}</span>
                <span class="field">{{ element.ville }}</span>
            </div>
        </div>
    </a>
    {% if forloop.counter != restaurants|length %}
        <div class="border-bottom"></div>
    {% endif %}
{% endfor %}