<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../../static/CSS/register-login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>login</title>
</head>
<body>
<div class="backward">
<div class="home-login fa fa-home" ></div>
</div>
<div class="body flex vertical-center justify-center">
    <div class="container">
        <form action="#">
            <div class="title-setting">SignIn</div>
            <div class="field">
                <div class="label">
                    Login
                </div>
                <input class="login" type="text">
            </div>
            <div class="field">
                <div class="label">
                    Password
                </div>
                <input class="pwd" type="text">
            </div>
        </form>
        <div class="field">
            <button class="next-1">connection</button>
        </div>
    </div>
</div>


</body>
</html>